:root {
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --first-title-color: #ffffff;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --second-bg-color: #2f303a;
  --second-footer-color: rgba(255, 255, 255, 0.6);
  --btn-bg-color: #f5f4fa;
  --border-bottom-color: #ececec;
  --icon-color: #afb1b8;
  --additional-color-footer: #44454e;
  --third-bg-color: rgba(33, 150, 243, 0.9);
  --border-color: #eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
  background-color: var(--first-title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-text-color);
  margin-right: 93px;
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.subscribe-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--first-title-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-send-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icons/icon-send.svg);
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: rotate(180deg);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--first-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close--btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--first-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--logo-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close--btn:hover {
  color: var(--accent-color);
}

.modal-icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal__field:last-of-type {
  margin-bottom: 30px;
  margin-right: 10px;
  padding-left: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  color: var(--second-text-color);
}

.input-wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal__input:focus,
.modal__text:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-icon__input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__input:focus + .modal-icon__input {
  fill: var(--accent-color);
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;
}

placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check__text {
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
}
.check__text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--first-text-color);
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.check__link {
  color: var(--accent-color);
  margin-left: 4px;
}

.modal__check:checked + .check__text span {
  background-color: var(--accent-color);
  border: none;
}

.modal__send--btn {
  display: block;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--first-title-color);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--first-title-color);
}
.social__link svg {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover svg, .social__link:focus svg {
  fill: currentColor;
}

.social-icon {
  fill: currentColor;
}

.join {
  padding-top: 12px;
  padding-bottom: 40px;
}

.join__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 20px;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subscribe-field {
  width: 358px;
  padding-top: 12px;
  margin-right: 12px;
}

.subscribe-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  margin-bottom: 20px;
  color: var(--first-title-color);
  text-transform: uppercase;
}

.subscribe-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  outline: none;
  color: var(--first-title-color);
  background-color: var(--second-bg-color);
}
.subscribe-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--first-title-color);
  border-bottom: 1px solid var(--border-bottom-color);
}

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -34px;
  left: 0;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
  border-bottom: var(--accent-color);
}

.hero {
  background-color: var(--second-bg-color);
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 0;
  min-height: 600px;
  min-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-lg.jpg);
  block-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__title:hover {
  color: var(--accent-color);
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--first-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 31px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover {
  color: var(--first-text-color);
}

.advantages {
  padding-top: 94px;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding-top: 30px;
}

.advantages-icon__list {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages-icon__item {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg-color);
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages__item {
  width: 270px;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.activities__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin-top: 50px;
}

.activities__item {
  position: relative;
}
.activities__item:not(:first-child) {
  margin-left: 30px;
}

.lable {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 4px;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-title-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--btn-bg-color);
}

.team__container {
  margin-top: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.team__card {
  background: var(--first-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team__card:not(:first-child) {
  margin-left: 30px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  color: var(--second-text-color);
  margin-top: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
}

.footer__logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 20px;
}

footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1170px;
}

.logo-and-address {
  margin-right: 70px;
  min-width: 231px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__post,
.footer-address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address__post {
  color: var(--first-title-color);
}

.footer-address__link {
  color: var(--second-footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

footer .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  widows: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--additional-color-footer);
  color: var(--first-title-color);
}

.portfolio__second-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.portfolio__third-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.btn-p {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--first-text-color);
  background-color: var(--btn-bg-color);
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.02, 1);
}
.btn-p:hover, .btn-p:focus {
  color: var(--first-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.business {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -15px;
  margin-bottom: 94px;
  padding: 0;
}

.business__card {
  width: 370;
  margin: 15px;
  position: relative;
}
.business__card:hover, .business__card:focus {
  background: var(--first-title-color);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.business__wrap {
  position: relative;
  overflow: hidden;
}

.business__card:hover .business__text {
  transform: translateY(0);
}

.business__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--third-bg-color);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.02, 1);
  overflow: auto;
}

.business__description {
  padding: 20px 24px;
  border: 1px solid var(--border-bottom-color);
  border-top: none;
}/*# sourceMappingURL=main.css.map */